    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 60px;
        padding: 0 20px;
        gap: 275px;/* Thêm padding bên trái và bên phải */    
    }
    
    .header  .logo {
        display: flex;
        align-items: center;
       
    }
    .header button{
       background-color:#fc0000;
       margin-right: 15px;
       border-radius: 16px;
       border: 1px solid transparent;
       padding: 0.3em 0.9em;
    }
    .search {
        position: relative;
        margin: 0 70px; /* Thêm margin để tạo khoảng cách giữa logo và search */
        border: 1px solid #ccc; /* Thêm border */
        border-radius: 10px; /* Thêm bo góc cho border */
        padding: 5px 20px; /* Thêm padding bên trong */
        display: flex; /* Để căn giữa nội dung bên trong */
        align-items: center; /* Căn giữa theo chiều dọc */
        background-color: #ccc;
        width: 220px; /* Giữ nguyên kích thước thanh tìm kiếm */
    }

    .search input {
        border: none; /* Bỏ border của input */
        outline: none; /* Bỏ outline khi focus */
        flex: 1; /* Chiếm không gian còn lại */
        padding: 5px; /* Thêm padding cho input */
        background-color: #ccc;
    }
    
    .actions {
        display: flex;
        align-items: center;
    }
    
    .actions button {
        /* Style cho button */
        margin-right: 10px; /* Tạo khoảng cách giữa các button */
    }
    
    .user-profile {
        display: flex;
        align-items: center;
    }
    
    .user-profile img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .icon-container {
        cursor: pointer;
        width: 35px; /* Kích thước của container */
        height: 35px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #ccc; /* Thay đổi độ dày border (3px) */
        border-radius: 50%; /* Bo tròn border */
        margin-right: 15px;
        background-color: #fff; /* Màu nền của container */
    }
    
    .icon-container img {
        width: 20px; /* Kích thước icon */
        height: 20px;
        padding: 5px; /* Tạo khoảng cách giữa icon và border */
    }
    
    .user-info {
        display: flex;
        flex-direction: column; /* Xếp chữ theo chiều dọc */
        align-items: flex-start; /* Căn chữ sang trái */
      }
      
      .user-info small {
        font-size: 12px; /* Kích thước chữ nhỏ */
        color: #666; /* Màu chữ xám nhạt */
      }
      
      .user-info span {
        font-size: 14px; /* Kích thước chữ của tên */
        font-weight: bold;
        color: #000; /* Màu chữ đen */
      }
      
  